
:root {
    --custom-bg-color: #f9e3c8;
    --custom-primary-color: #557e76;
}

body {
    background-color: var(--custom-bg-color);
    font-family: roboto, sans-serif;
}

.event-box {
    box-sizing: border-box;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
    padding-bottom: 3em;
}
.event-overview {
    position: relative;
    z-index: 2;
}
.overflow-hidden {
    overflow: hidden !important;
}
.card {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: .375rem;
}
.m-0 {
    margin: 0 !important;
}
.grid-container {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "image info price";
}

.grid-area-image {
    margin-right: 0;
    overflow-x: hidden;
    z-index: 2;
    width: 100%;
}
.grid-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    border-style: none;
}
.grid-area-info {
    grid-area: info;
    display: flex;
    flex-direction: column;
}
.top-row {
    display: flex;
    flex-direction: row;
    color: #525f7f;  /* custom text color for dates */
    justify-content: space-between;
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: .25rem;
    gap: .5rem;
}
svg {
    height: 1em;
}
.date {
    font-family: Open Sans, sons-serif;
    font-size: 1rem;
}
.calendar-link {
    cursor: pointer;
}
h1, h2, h3 {
    color: #557e76;  /* custom heading color */
    margin-bottom: 0 !important;
    font-weight: 300;
    line-height: 1.5;
}
h1 {
    margin-top: 0;
}
h2 {
    font-size: 1.1rem;
    margin-bottom: .5rem;
    margin-top: .5rem;
}
h3 {
    font-size: 1.0625rem;
    margin-bottom: .5rem;
    margin-top: 0;
}
.mb-2 {
    margin-bottom: .5rem !important;
}
.event-details-collapser {
    position: relative;
    z-index: 1;
}
.btn-collapser.is-collapsed {
	bottom: -1.775rem;
	border-top: none;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
.btn-collapser:not(.is-collapsed) {
	bottom: 0;
	border-bottom: none;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.btn-collapser {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 1.875rem;
    width: 13.25rem;
    color: var(--custom-primary-color); 
    border-color: var(--custom-primary-color);

    text-transform: none;
    letter-spacing: .025em;
    font-size: .875rem;

    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--custom-bg-color);
    border-radius: .375rem;
}
.btn-collapser:hover {
	background-color: var(--custom-primary-color);
	color: #fff;
	border-color: var(--custom-primary-color);
}
.details {
    margin: 0 1rem;
    padding-bottom: 3rem !important;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    padding: 1.5rem !important;
    display: none;
    background: #fff;
}
.down {
    transform: rotate(180deg);
}

@media screen and (max-width: 578px) {
    .grid-container {
        display: inline;
    }
    .grid-area-info {
        padding: 1em;
    }
}