# Simple workflow for deploying static content to GitHub Pages
name: Deploy static content to Pages

on:
  # Runs on pushes targeting the default branch
  push:
    branches: ["main"]
  schedule:
    - cron: '0 7-22 * * *'  # run once every hour from 7:00 AM to 10:00 PM
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read
  pages: write
  id-token: write

# Allow only one concurrent deployment, skipping runs queued between the run in-progress and latest queued.
# However, do NOT cancel in-progress runs as we want to allow these production deployments to complete.
concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    env:
      CHURCHTOOLS_USERNAME: ${{ secrets.CHURCHTOOLS_USERNAME }}
      CHURCHTOOLS_PASSWORD: ${{ secrets.CHURCHTOOLS_PASSWORD }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Fetch current events from churchtools
        run: sudo apt-get install jq && ./fetch_events.sh

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: '.'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

      - name: Show log.txt in job summary
        if: always()   # ensure it runs even if previous step fails
        run: |
          echo "### Log Output" >> $GITHUB_STEP_SUMMARY
          if [ -f log.txt ]; then
            echo '```' >> $GITHUB_STEP_SUMMARY
            cat log.txt >> $GITHUB_STEP_SUMMARY
            echo '```' >> $GITHUB_STEP_SUMMARY
          else
            echo "log.txt not found" >> $GITHUB_STEP_SUMMARY
          fi
